<a href="https://colab.research.google.com/github/Pranjal-777/pranjal-python/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python set
#set are used to store multiple item in a single variable.
#Set is one of 4 built in data types in python used to store collecction of data,the other 3 are List, Tuple and Dictionary al with different qualities and usage.
#A set is collecction of unordered,unchangeable, and unindexed, and do not allow duplicate values.
#Notes:Set items are uncahngeable, but you can remove items and add new items.

In [2]:
set = {"apple",'banana','cherry'}         #set is unordered so you cannot be sure  in which order the items will appear.
print(set)

{'cherry', 'apple', 'banana'}

In [3]:
set ={'apple','banana','apple','cheery'}  #doesnot allow duplicate value
print(set)

{'apple', 'cheery', 'banana'}

In [8]:
set ={'apple','banana','cherry',1,True,1,0,False,False}   # True False and 0 1 are considered duplicate values.
print(set)
print(len(set))                                           #how many items a set has. user len() function

{0, 1, 'apple', 'banana', 'cherry'}
5

In [21]:
pranjal ={'apple','banana','cherry',1,2,3,True,False}   #set contain different datatypes
print(pranjal)

{False, 1, 2, 3, 'apple', 'banana', 'cherry'}

In [22]:
#Access Items:You cannot access items in a set by referrin to an index or a key.
#But you can loop through the set items using a for loop,or ask if a specified value is preset in a set by using the in keyword.

In [29]:
pranjal ={'apple','banana','cherry',1,2,3,True,False}   #set contain different datatypes
for x in pranjal:
 print(x)

pranjal ={'apple','banana','cherry',1,2,3,True,False}   #can check if any item is preset in the  set or not
print("banana" not in pranjal)                          #output will be in true or false.


pranjal ={'apple','banana','cherry',1,2,3,True,False}
print("banana" in pranjal)

False
1
2
3
apple
banana
cherry
False
True

In [36]:
#Python- Add set items
#To add  one item to a set used the add() method
sset={'apple','banana','cherry'}
sset.add("orange")
print(sset)

sset={'apple','banana','cherry'}
sset1={"orange","mango","grapes"}

sset.update(sset1)
print(sset)
#In set,update() method does not have to be set, it can be any iterate object such list, tuple,dictionaries.
thisset={'apple','banana','cherry'}
mylist=['kiwi','orange']
thisset.update(mylist)
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}
{'apple', 'mango', 'grapes', 'banana', 'cherry', 'orange'}
{'banana', 'orange', 'kiwi', 'apple', 'cherry'}

In [38]:
#Remove ramdom item from set use pop()
thisset={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)
#clear() use for clearing the set
#discard and remove() use to remove any item from set for ex thisiset.remove(banana)
#del use to delete the set.

cherry
{'apple', 'banana'}